*{
    margin:0;
    box-sizing:border-box;
    border: 0;
    padding: 0;
    font-size: 62.5%;
}
p,span,input,button,div{
    font: 400 1.6rem 'Roboto', Arial, sans-serif, serif;
}

h1, h2{
    font: 700 2.4rem 'Poppins', Arial, sans-serif, serif;
}


